
body {
    background-color: white;
}

h1  {
    color: black;
    font-size: 20px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 2px;
}

h2  {
    color: black;
    font-size: 15px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 1px;
}

p, ul, ol, li {
    color:#808080;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
}

p {
    padding-bottom: 0px;
    margin: 1px;
}

table, th, td {
    border: 1px solid black;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
}
